{% if Servidores_FastShop %}
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody>
            {% for server in Servidores_FastShop %}
                <tr class="{% if forloop.counter|divisibleby:2 %}even-row{% else %}odd-row{% endif %}">
                    <td><strong>Host Name:</strong></td>
                    <td>{{ server.server_name }}</td>
                </tr>
                <tr class="{% if forloop.counter|divisibleby:2 %}even-row{% else %}odd-row{% endif %}">
                    <td><strong>Cliente:</strong></td>
                    <td>{{ server.server_cliente }}</td>
                </tr>
                <tr class="{% if forloop.counter|divisibleby:2 %}even-row{% else %}odd-row{% endif %}">
                    <td><strong>DataCenter:</strong></td>
                    <td>{{ server.datacenter }}</td>
                </tr>
                <tr class="{% if forloop.counter|divisibleby:2 %}even-row{% else %}odd-row{% endif %}">
                    <td><strong>Plataforma:</strong></td>
                    <td>{{ server.plataforma }}</td>
                </tr>
                <tr class="{% if forloop.counter|divisibleby:2 %}even-row{% else %}odd-row{% endif %}">
                    <td><strong>IP:</strong></td>
                    <td>{{ server.ip }}</td>
                </tr>
                <tr class="{% if forloop.counter|divisibleby:2 %}even-row{% else %}odd-row{% endif %}">
                    <td><strong>Criticidade:</strong></td>
                    <td>{{ server.criticidade }}</td>
                </tr>
                <tr class="{% if forloop.counter|divisibleby:2 %}even-row{% else %}odd-row{% endif %}">
                    <td><strong>Responsabilidade:</strong></td>
                    <td>{{ server.responsabilidade }}</td>
                </tr>
                <tr class="{% if forloop.counter|divisibleby:2 %}even-row{% else %}odd-row{% endif %}">
                    <td><strong>Escalonamento 1:</strong></td>
                    <td>{{ server.escalonamento1 }}</td>
                </tr>
                <tr class="{% if forloop.counter|divisibleby:2 %}even-row{% else %}odd-row{% endif %}">
                    <td><strong>Escalonamento 2:</strong></td>
                    <td>{{ server.escalonamento2 }}</td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
