<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/five-icons/dist/five-icons.min.css">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="sidebar" id="sidebar">
        <div class="sidebar-header">
        </i><h2>Menu</h2>
        </div>
        <ul class="sidebar-menu">
            <li><a href="{% url 'search_jobs' %}"><i class="fas fa-home"></i> Home</a></li>

            <li><a href="{% url 'admin:index' %} "><i class="fas fa-user-cog"></i> Admin</a></li>

            <li><a href="{% url 'show_all_servers' %} "><i class="fas fa-server"></i>All Server</a></li>

            <li><a href="{% url 'show_all_jobs' %} "><i class="fas fa-table"></i>All Jobs </a></li>
            
            <li><a href="{% url 'ajuda' %}"><i class="fas fa-question-circle"></i> Ajuda</a></li>
        </ul>
        <div class="sidebar-footer"> 
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn-logout">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                    </svg>
                    Logout
                </button>
            </form>
        </div>
    </div>

    <button class="sidebar-toggle" id="sidebar-toggle">
        <i class="fas fa-chevron-left"></i>
    </button>


    <div class="content">
        <header>
            <h1 class="mt-4 mb-4">Pesquise Procedimentos</h1>
        </header>
        <div class="container">
            <form id="search-form" method="post" class="mb-4">
                {% csrf_token %}
                <div class="search-bar">
                    <input type="text" name="search_query" placeholder="Busque...">
                    <button type="submit">🔍</button>
                </div>
            </form>
    
            <div id="server_results">
                {% include 'jobs/server.html' %}
            </div>
            <div id="job-results">
                {% include 'jobs/results.html' %}
            </div>
            <div id="Cc_fast">
                {% include 'jobs/Cc_fast.html' %}
            </div>
            
            <div class="mb-4">
                <form action="" method="get" class="form-inline">
                    <label for="num_display" class="mr-2">Mostrar:</label>
                    <select name="num_display" id="num_display" class="form-control mr-3">
                        <option value="5" {% if request.GET.num_display == '5' %}selected{% endif %}>5</option>
                        <option value="10" {% if request.GET.num_display == '10' %}selected{% endif %}>10</option>
                        <option value="20" {% if request.GET.num_display == '20' %}selected{% endif %}>20</option>
                        <option value="all" {% if request.GET.num_display == 'all' %}selected{% endif %}>Todos</option>
                    </select>
                    <button type="submit" class="btn btn-success">Aplicar</button>
                </form>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#sidebar-toggle').click(function() {
                $('#sidebar').toggleClass('hidden');
                $('.content').toggleClass('expanded');
            });
        });
    </script>
</body>
</html>
